<div class="resource flex-group-center paradox">
    <label for="placeholder" class="resource-label">{{localize "MTA5E.ParadoxBacklash"}}</label>
    <div class="resource-content flexrow flex-center flex-between">
        <button class="rollable" type="button" name="paradox" data-roll="{{data.data.magika.paradox}}" data-use-hunger="false" data-use-quiet="false" data-img-set="quiet"
            data-label="{{localize 'MTA5E.ParadoxBacklash'}}..." >{{localize "MTA5E.Roll"}}</button>
    </div>
</div>
