<div class="ma20th resource flex-group-center">
    <span class="resource-button qp-wheel" data-index="q" data-state="+"></span>
    <span class="resource-button qp-wheel" data-index="q" data-state="-"></span>
    <label for="data.data.magika.quintessence" class="resource-label">  {{localize "MTA5E.Quintessence"}} | {{localize "MTA5E.Paradox"}}</label>
    <span class="resource-button qp-wheel" data-index="p" data-state="-"></span>
    <span class="resource-button qp-wheel" data-index="p" data-state="+"></span>

    <div class="resource-content flexrow flex-center flex-between">
        <div class="resource-counter-2cf" data-states="-:quintessence,/:paradox" data-quintessence="{{data.data.magika.quintessence}}" data-paradox="{{data.data.magika.paradox}}" data-name="data.magika">
            {{#numLoop 10}}
            <span class="resource-counter-2cf-step" data-index="{{this}}" data-state=""></span>
            {{/numLoop}}
        </div>
    </div>
</div>

