<div class="tab spheres" data-group="primary" data-tab="spheres">
    <section class="resource flexrow grid grid-2col">

        {{> "systems/mta5e/templates/actor/parts/arete.html"}}

        {{> "systems/mta5e/templates/actor/parts/quiet.html"}}

    </section>

    <secton class="resource flexrow grid grid-4col">

        {{> "systems/mta5e/templates/actor/parts/ongoing-spells.html"}}

        {{> "systems/mta5e/templates/actor/parts/paradox-risk.html"}}

        {{> "systems/mta5e/templates/actor/parts/paradox-backlash.html"}}

        <!-- <div></div> -->

        {{> "systems/mta5e/templates/actor/parts/paradox-permanent.html"}}

    </secton>

    {{#if data.data.options.hunger.value}}
    <section class="resources grid grid-4col">
        {{> "systems/mta5e/templates/actor/parts/hunger.html"}}

        <div></div>

        {{> "systems/mta5e/templates/actor/parts/rouse.html"}}

        {{> "systems/mta5e/templates/actor/parts/frenzy.html"}}
    </section>
    {{/if}}
    <label class="resource-label flex-center">{{localize "MTA5E.Spheres"}}</label>
    <ol class="items-list">
        <!-- Header of the spheres lists -->
        <!-- <li class="item flexrow item-header">
            <div class="item-name">{{localize "MTA5E.Name"}}</div>
            <div class="item-name header-level">{{localize "MTA5E.Level"}}</div>
        </li> -->

        <!-- Iterate through each of the sphere lists -->
        <div class="skills grid grid-3col flex-group-center">
        {{#each data.data.spheres as |sphere key|}}
            <div class="sphere flexrow flex-center">
                <label for="data.data.spheres.{{key}}.value" class="resource-label mrollable" data-roll="{{sphere.value}}" data-label="{{localize sphere.name}}">
                {{#if sphere.useAlt}}
                    {{localize sphere.altname}}
                {{else}}
                    {{localize sphere.name}}
                {{/if}}</label>
                <div class="resource-value" data-value="{{sphere.value}}" data-name="data.spheres.{{key}}.value">
                    {{#unless locked}}
                    <span class="resource-value-empty"></span>
                    {{/unless}}
                    {{#numLoop 5}}
                    <span class="resource-value-step" data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            </div>
        {{/each}}
        </div>
    </ol>
</div>
