<option value="correspondence">{{localize "MTA5E.Correspondence"}}</option>
<option value="data">{{localize "MTA5E.Data"}}</option>
<option value="entropy">{{localize "MTA5E.Entropy"}}</option>
<option value="forces">{{localize "MTA5E.Forces"}}</option>
<option value="life">{{localize "MTA5E.Life"}}</option>
<option value="matter">{{localize "MTA5E.Matter"}}</option>
<option value="mind">{{localize "MTA5E.Mind"}}</option>
<option value="prime">{{localize "MTA5E.Prime"}}</option>
<option value="primalutility">{{localize "MTA5E.PrimalUtility"}}</option>
<option value="spirit">{{localize "MTA5E.Spirit"}}</option>
<option value="dimensionalscience">{{localize "MTA5E.DimensionalScience"}}</option>
<option value="time">{{localize "MTA5E.Time"}}</option>
